.receipts {
    display: flex;
    gap: 8px;
    overflow: auto;
    width: 100%;

    .receipt {
        background-color: var(--background-white);
        border-radius: 8px;
        padding: 7.5px 8px;

        font-weight: 500;
        font-size: 14px;
        line-height: 16.8px;
        color: rgba(66, 66, 66, 1);
        transition: background-color 300ms ease-out;
        white-space: nowrap;

        &.active {
            color: var(--text-contrast);
            background-color: rgba(73, 70, 255, 1);

            @media (hover: hover) {
                &:hover {
                    background-color: rgba(73, 70, 255, 1);
                }
            }
        }

        @media (hover: hover) {
            &:hover {
                cursor: pointer;
                background-color: rgba(73, 70, 255, 0.2);
            }
        }
    }
}
