.breadcrumbs {
    margin: 24px 0 32px 0;
}

.productInfo {
    display: flex;
    gap: 32px;

    .slider {
        display: flex;
        gap: 16px;
        max-height: 476px;

        .images {
            display: flex;
            flex-direction: column;
            gap: 8px;
            overflow-y: auto;

            img {
                width: 100px;
                height: 100px;
                object-fit: contain;
                border-radius: 13px;
                outline-offset: -2px;
                outline: 2px solid transparent;
                transition: outline-color 300ms ease-out;

                &.selected {
                    outline: 1px solid rgba(123, 135, 194, 1);
                    outline-offset: -1px;
                    pointer-events: none;
                }

                @media (hover: hover) {
                    &:hover {
                        cursor: pointer;
                        outline: 2px solid var(--background-secondary);
                    }
                }
            }
        }

        .mainImage {
            width: 476px;
            height: 476px;
            border-radius: 20px;

            img {
                width: 100%;
                height: 100%;
                object-fit: contain;
            }
        }
    }

    .info {
        .tags {
            display: flex;
            gap: 8px;
            margin-bottom: 20px;
        }

        .content {
            display: flex;
            flex-direction: column;
            gap: 32px;

            h1 {
                font-size: 32px;
                line-height: 38.4px;
            }

            .specifications {
                display: flex;
                gap: 8px;

                .specification {
                    flex: 1;

                    .name {
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        margin-bottom: 16px;
                    }

                    .value {
                        line-height: 20.8px;
                    }
                }
            }

            .description {
                line-height: 20.8px;
                color: var(--text-secondary);
                margin-bottom: 4px;
            }

            .more {
                font-weight: 700;
                line-height: 19.2px;
                transition: color 300ms ease-out;

                &:hover {
                    cursor: pointer;
                    color: var(--text-accent-blue);
                }
            }

            .oldPrice {
                font-size: 14px;
                line-height: 18.2px;
                color: var(--text-secondary);
                text-decoration: line-through;
            }

            .price {
                font-family: 'Gilroy', sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 28.8px;
            }

            .buttons {
                display: flex;
                gap: 16px;

                .button {
                    flex: 1;
                    max-width: 244px;
                    height: 48px;
                }

                .iconButton {
                    background-color: var(--background-white);

                    @media (hover: hover) {
                        &:hover {
                            background-color: var(--background-secondary);
                            color: var(--text-accent-blue);
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 1100px) {
        gap: 24px;

        .slider {
            flex-direction: column;
            max-height: unset;
            max-width: 436px;

            .images {
                flex-direction: row;
                overflow-x: auto;
            }

            .mainImage {
                order: -1;
                width: 436px;
                height: 436px;
            }
        }
    }

    @media screen and (max-width: 910px) {
        flex-direction: column;
        gap: 40px;

        .slider {
            max-width: unset;

            .mainImage {
                width: 100%;
            }
        }

        .info {
            .content {
                gap: 20px;

                h1 {
                    font-size: 24px;
                    line-height: 28.8px;
                }

                .specifications {
                    .specification {
                        .name {
                            font-family: 'Roboto', sans-serif;
                            font-size: 14px;
                            line-height: 16.8px;
                        }

                        .value {
                            font-family: 'Roboto', sans-serif;
                            font-size: 12px;
                            line-height: 15.6px;
                        }
                    }
                }

                .description {
                    font-family: 'Roboto', sans-serif;
                    font-size: 12px;
                    line-height: 15.6px;
                }

                .more {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    line-height: 16.8px;
                }

                .oldPrice {
                    font-size: 16px;
                    line-height: 20.8px;
                }

                .price {
                    font-size: 32px;
                    line-height: 38.4px;
                }

                .buttons {
                    gap: 8px;
                }
            }
        }
    }

    @media screen and (max-width: 500px) {
        .slider {
            .mainImage {
                height: 328px;
            }
        }
    }
}

.productTabs {
    margin-top: 40px;

    .tabs {
        display: flex;

        background-color: var(--background-white);
        border-radius: 16px;
        padding: 0 16px;
        margin-bottom: 40px;
        overflow: auto;

        .tab {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 64px;
            padding: 0 32px;
            font-weight: 500;
            line-height: 19.2px;
            transition: background-color 300ms ease-out;
            white-space: nowrap;

            &.active {
                pointer-events: none;

                &:after {
                    opacity: 1;
                }
            }

            &:after {
                content: '';
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 2px;
                transition: opacity 300ms ease-out;
                background-color: rgba(73, 70, 255, 1);
                opacity: 0;
            }

            @media (hover: hover) {
                &:hover {
                    cursor: pointer;
                    background-color: var(--background-primary);
                }
            }
        }
    }
}

.productDescription {
    display: flex;
    flex-direction: column;
    gap: 40px;

    section {
        display: flex;
        flex-direction: column;
        gap: 20px;

        h4 {
            font-size: 24px;
            line-height: 28.8px;
        }

        h5 {
            font-size: 20px;
            line-height: 24px;
        }

        h3 {
            font-size: 32px;
            line-height: 38.4px;
        }

        p {
            line-height: 20.8px;
            color: var(--text-secondary);
        }

        @media screen and (max-width: 910px) {
            h4 {
                font-size: 20px;
                line-height: 24px;
            }

            h5 {
                font-size: 16px;
                line-height: 19.2px;
            }

            h3 {
                font-size: 24px;
                line-height: 28.8px;
            }

            p {
                font-family: 'Roboto', sans-serif;
                font-size: 14px;
                line-height: 18.2px;
                color: var(--text-secondary);
            }
        }
    }
}

.productSpecifications {
    display: flex;
    flex-direction: column;

    .specification {
        display: flex;
        align-items: center;
        padding: 8px 16px;

        &:nth-child(even) {
            border-radius: 8px;
            background-color: var(--background-white);
        }

        .name {
            font-weight: 500;
            font-size: 14px;
            line-height: 16.8px;
            color: var(--text-secondary);
            flex: 1;
        }

        .value {
            font-size: 14px;
            line-height: 18.2px;
            flex: 1;
        }
    }
}
