.filters {
    background-color: var(--background-white);
    border-radius: 20px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 283px;
    width: 100%;

    .buttons {
        display: flex;
        flex-direction: column;
        gap: 8px;
        margin: 20px 0;
    }

    @media screen and (max-width: 855px) {
        max-width: unset;
        padding: 8px;

        .buttons {
            margin: 20px 0 0 0;
        }
    }
}
