.faq {
    h1 {
        margin-bottom: 32px;

        @media screen and (max-width: 992px) {
            margin-bottom: 24px;
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 20px;

        max-width: 1216px;
        margin: 0 auto;
    }
}
