.links {
    h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 32px;

        @media screen and (max-width: 768px) {
            font-size: 32px;
            line-height: 38.4px;
            margin-bottom: 24px;
        }
    }

    .list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 32px;

        @media screen and (max-width: 992px) {
            grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
            gap: 24px;
        }
    }
}
