.dataCenterBanner {
    .dataCenterContainer {
        margin-top: 56px;
        margin-bottom: 60px;
    }

    h1 {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 40px;
        max-width: 592px;

        span {
            color: var(--text-accent-blue);
        }
    }

    .background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 700px;
        z-index: -1;

        background-image: url('../../shared/assets/images/data-center/data-center-banner.png');
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 0 0 40px 40px;
    }

    @media screen and (max-width: 992px) {
        .dataCenterContainer {
            margin-bottom: 140px;
        }

        h1 {
            font-size: 32px;
            line-height: 38.4px;
        }

        .background {
            background-position-x: -275px;
        }
    }

    @media screen and (max-width: 768px) {
        .dataCenterContainer {
            margin-top: 328px;
            margin-bottom: unset;
        }

        h1 {
            margin-bottom: 20px;
        }

        .background {
            background-image: url('../../shared/assets/images/data-center/data-center-banner-sm.png');
            background-size: cover;
            height: 360px;
            border-radius: 0 0 20px 20px;
            background-position-x: unset;
        }
    }
}

.content {
    margin-top: 140px;

    @media screen and (max-width: 992px) {
        margin-top: 220px;
    }

    @media screen and (max-width: 768px) {
        margin-top: 60px;
    }
}

.benefits {
    .wrap {
        display: flex;
        gap: 32px;
        padding: 86px 40px;
        background-color: var(--background-secondary);
        background-image: url('../../shared/assets/backgrounds/leasing-bg2.svg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 215%;
        border-radius: 40px;

        .item {
            flex: 1;

            .title {
                font-family: 'Gilroy', sans-serif;
                font-weight: 700;
                font-size: 40px;
                line-height: 48px;
                text-align: center;
                color: var(--text-accent-blue);
                margin-bottom: 20px;
            }

            .subtitle {
                font-size: 20px;
                line-height: 24px;
                text-align: center;
                color: rgba(90, 101, 156, 1);
            }
        }

        @media screen and (max-width: 992px) {
            padding: 40px;

            .item {
                .title {
                    font-size: 32px;
                    line-height: 38.4px;
                }

                .subtitle {
                    font-size: 16px;
                    line-height: 20.8px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            background-size: 1700px;

            .item {
                .title {
                    font-size: 24px;
                    line-height: 28.8px;
                }

                .subtitle {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    line-height: 18.2px;
                }
            }
        }
    }
}

.containers {
    .wrap {
        position: relative;
        background-color: var(--background-secondary);
        background-image: url('../../shared/assets/backgrounds/container-bg.svg');
        border-radius: 40px;
        padding: 40px;
        overflow: hidden;

        .containersContent {
            h2 {
                color: var(--text-accent-blue);
                max-width: 396px;
            }

            p {
                font-weight: 500;
                font-size: 20px;
                line-height: 24px;
                margin-bottom: 40px;
                color: rgba(90, 101, 156, 1);
                max-width: 396px;
            }

            .advantages {
                display: flex;
                gap: 20px;
                margin-bottom: 40px;
            }

            .advantage {
                div {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 24px;
                    margin-bottom: 8px;
                    color: rgba(90, 101, 156, 1);
                }

                span {
                    font-family: 'Gilroy', sans-serif;
                    font-weight: 700;
                    font-size: 24px;
                    line-height: 28.8px;
                    color: var(--text-accent-blue);
                }
            }

            .button {
                margin-top: 40px;
            }
        }

        img {
            position: absolute;
            top: -8px;
            left: 0;
            pointer-events: none;
        }

        @media screen and (max-width: 992px) {
            .containersContent {
                p {
                    font-size: 16px;
                    line-height: 19.2px;
                }

                .advantage {
                    div {
                        font-size: 16px;
                        line-height: 19.2px;
                    }

                    span {
                        font-size: 20px;
                        line-height: 24px;
                    }
                }
            }

            img {
                width: 831px;
                left: 220px;
                top: calc(50% - 171px);
            }
        }

        @media screen and (max-width: 768px) {
            padding: 20px;

            .containersContent {
                h2 {
                    text-align: start;
                    margin-bottom: 386px;
                }

                p {
                    margin-bottom: 20px;
                    max-width: unset;
                }

                .advantages {
                    margin-bottom: 20px;
                }
            }

            img {
                width: unset;
                height: 288px;
                left: -185px;
                top: 150px;
            }
        }
    }
}

.howItWork {
    .title {
        text-align: center;
        color: var(--text-accent-blue);

        @media screen and (max-width: 992px) {
            margin-bottom: 40px;
        }
    }

    .wrap {
        overflow: hidden;

        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 64px 32px;

        .item {
            flex: 1 1 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 36px;
            max-width: 668px;
            height: 144px;

            .number {
                font-family: 'Gilroy', sans-serif;
                font-weight: 700;
                font-size: 32px;
                line-height: 38.4px;
                color: var(--text-accent-blue);

                background-color: var(--background-secondary);
                border-radius: 1000px;
                padding: 13px 57.5px;
                position: relative;

                .dottedLine {
                    position: absolute;
                    left: 165px;
                    top: calc(50% - 2px);
                }

                .dottedLineLarge {
                    position: absolute;
                    right: -220px;
                    top: 33px;
                }
            }

            p {
                font-size: 20px;
                line-height: 20px;
                text-align: center;
            }
        }

        @media screen and (max-width: 992px) {
            .item {
                p {
                    font-size: 16px;
                    line-height: 20.8px;
                }

                //TODO
                img {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 768px) {
            gap: 48px 16px;

            .item {
                gap: 16.5px;
            }
        }
    }
}

.feedback {
    .wrap {
        position: relative;
        background-color: rgba(123, 135, 194, 1);
        border-radius: 40px;
        padding: 35.5px 40px;

        background-image: url('@/shared/assets/backgrounds/leasing-bg3.svg');
        background-repeat: no-repeat;

        img {
            position: absolute;
            top: -161px;
            left: -40px;
            width: 665px;
        }

        .form {
            display: flex;
            flex-direction: column;
            gap: 20px;
            margin-left: 590px;

            h2 {
                font-size: 40px;
                line-height: 48px;
                color: var(--text-contrast);
            }

            p {
                font-size: 20px;
                line-height: 24px;
                color: var(--text-contrast);
            }

            .formFields {
                display: flex;
                gap: 16px;
                max-width: 592px;

                .input {
                    width: 100%;
                }
            }

            .label {
                color: var(--text-contrast);
            }
        }

        @media screen and (max-width: 1266px) {
            img {
                top: -48px;
                width: 450px;
            }

            .form {
                margin-left: 380px;
            }
        }

        @media screen and (max-width: 992px) {
            display: flex;
            gap: 54px;
            align-items: center;
            padding: 35px 20px;

            img {
                position: static;
                width: 347px;
            }

            .form {
                margin-left: unset;

                h2 {
                    font-size: 32px;
                    line-height: 38.4px;
                }

                p {
                    font-size: 16px;
                    line-height: 20.8px;
                }

                .formFields {
                    flex-direction: column;
                    max-width: 288px;

                    .input {
                        width: 100%;
                    }
                }

                .label {
                    font-size: 14px;
                    line-height: 18.2px;
                }
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;
            padding: 0 20px 20px 20px;
            gap: 9px;
            background-position: center;
            border-radius: 20px;

            .form {
                p {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    line-height: 18.2px;
                }

                .formFields {
                    max-width: unset;
                }

                .label {
                    font-size: 14px;
                    line-height: 18.2px;
                }
            }
        }
    }
}
