.bestsellers {
    .bestsellersList {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 16px;

        .bestsellersItem {
            display: flex;
            flex-direction: column;
            gap: 20px;

            background-color: var(--background-tonal);
            border-radius: 20px;
            outline: 1px solid rgba(123, 135, 194, 0.2);
            outline-offset: -1px;
            padding: 20px;
            transition:
                background-color 300ms ease-out,
                outline-color 300ms ease-out;

            .image {
                img {
                    width: 100%;
                }
            }

            .tags {
                display: flex;
                flex-wrap: wrap;
                gap: 8px;
            }

            .price {
                font-weight: 700;
                font-size: 20px;
                line-height: 24px;
                color: initial;
            }

            .name {
                font-weight: 500;
                font-size: 16px;
                line-height: 19.2px;
                max-width: 252px;
                color: initial;

                @media screen and (max-width: 992px) {
                    max-width: 242px;
                }
            }

            .specifications {
                display: flex;
                flex-direction: column;
                gap: 4px;

                font-size: 14px;
                line-height: 18.2px;
                color: rgba(90, 101, 156, 1);
            }

            .buttons {
                display: flex;
                align-items: center;
                gap: 8px;

                .button {
                    height: 48px;
                    flex: 1;
                }

                .iconButton {
                    border-radius: 16px;
                }
            }

            @media (hover: hover) {
                &:hover {
                    background-color: var(--background-primary);
                    outline-color: transparent;

                    .iconButton {
                        background-color: var(--background-white);
                    }
                }
            }

            .iconButton {
                @media (hover: hover) {
                    &:hover {
                        background-color: var(--background-secondary);
                    }
                }
            }

            @media screen and (max-width: 768px) {
                gap: 12px;
                background-color: var(--background-primary);
                border-radius: 16px;
                outline: unset;
                padding: 8px;

                .image {
                    img {
                        width: 100%;
                    }
                }

                .name {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    line-height: 16.8px;
                }

                .specifications {
                    display: none;
                }

                .buttons {
                    flex-wrap: wrap;

                    .button {
                        flex: 1 1 100%;
                        order: 1;
                        margin-top: 4px;
                    }

                    .iconButton {
                        flex: 1 1 25%;
                    }
                }
            }
        }

        @media screen and (max-width: 992px) {
            gap: 24px;
        }

        @media screen and (max-width: 768px) {
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
            gap: 8px;
        }
    }
}
