.menu {
    position: absolute;
    z-index: 3;
    top: 97px;
    left: -9px;
    right: -9px;

    background-color: var(--background-white);
    border-radius: 0 0 20px 20px;
    padding: 40px;

    display: flex;
    gap: 80px;

    .title {
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
        margin-bottom: 40px;
    }

    .wrap {
        display: flex;
        gap: 80px;
    }

    .linkTitle {
        font-weight: 700;
        font-size: 16px;
        line-height: 19.2px;
        display: block;
        margin-bottom: 20px;
    }

    .linkList {
        display: flex;
        flex-direction: column;

        .link {
            &:not(:last-child) {
                margin-bottom: 16px;
            }
        }
    }

    .childrenList {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        .link {
            &:last-child {
                margin-bottom: 16px;
            }
        }
    }

    .link {
        font-size: 14px;
        line-height: 18.2px;
    }

    .more {
        display: flex;
        align-items: center;
        gap: 8px;
        cursor: pointer;
        transition: color 300ms ease-out;

        div {
            height: 16px;
        }

        &:hover {
            color: var(--text-accent-blue);
        }
    }

    .list {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .contacts {
        display: flex;
        flex-direction: column;
        gap: 33px;

        p {
            font-size: 14px;
            line-height: 18.2px;
            margin-bottom: 12px;
        }

        a {
            font-weight: 700;
            font-size: 20px;
            line-height: 24px;
        }

        .socials {
            display: flex;
            gap: 5px;

            color: var(--text-ultramarin);
        }
    }

    .tools {
        .item {
        }
    }

    .menuItem {
    }

    @media screen and (max-width: 1740px) {
        flex-wrap: wrap;
        gap: 40px;

        .title {
            margin-bottom: 20px;
        }

        .wrap {
            gap: 10px;
        }

        .linkTitle {
            white-space: nowrap;
        }

        .tools {
            flex: 1 1 100%;

            .wrap {
                .item {
                    flex: 1;
                }
            }
        }

        .menuItem {
            flex: 1;
        }
    }

    @media screen and (max-width: 900px) {
        top: 77px;
    }
}
