.advantages {
    .advantagesContainer {
        display: flex;
        align-items: flex-start;
        gap: 32px;

        @media screen and (max-width: 1500px) {
            gap: 24px;
        }

        @media screen and (max-width: 1300px) {
            gap: 16px;
        }

        @media screen and (max-width: 1150px) {
            flex-wrap: wrap;
        }
    }
}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    padding: 20px;
    border-radius: 20px;
    transition: background-color 300ms ease-out;
    overflow: hidden;

    @media (hover: hover) {
        &:hover {
            background-color: var(--background-secondary);
        }
    }

    .image {
        max-width: 160px;
        max-height: 160px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .title {
        text-align: center;
        font-family: 'Gilroy', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 28.8px;
        margin-top: 20px;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;

        .desc {
            text-align: center;
            line-height: 20.8px;
            color: rgba(90, 101, 156, 1);
        }
    }

    @media (max-width: 1500px) {
        .title {
            font-size: 20px;
            line-height: 24px;
        }
    }

    @media (max-width: 1300px) {
        .body {
            .desc {
                font-weight: 500;
                font-size: 14px;
                line-height: 16.8px;
            }
        }
    }

    @media screen and (max-width: 1150px) {
        flex: 1 1 24%;

        .desc {
            max-width: 242px;
        }
    }

    @media screen and (max-width: 768px) {
        .image {
            max-width: 120px;
            max-height: 120px;
        }

        .title {
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 14px;
            line-height: 18.2px;
        }

        .body {
            display: none;
        }
    }

    @media screen and (max-width: 590px) {
        flex: 1 1 35%;
        padding: 20px 0;
    }
}
