.advantages {
    .advantagesContainer {
        display: flex;
        gap: 16px;

        .item {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            flex: 1;

            .image {
                max-width: 160px;
                max-height: 160px;

                img {
                    width: 100%;
                    height: 100%;
                }
            }

            .title {
                text-align: center;
                font-family: 'Gilroy', sans-serif;
                font-weight: 700;
                font-size: 24px;
                line-height: 28.8px;
            }

            .desc {
                text-align: center;
                line-height: 20.8px;
                color: rgba(90, 101, 156, 1);
            }
        }

        @media screen and (max-width: 1765px) {
            .item {
                .title {
                    font-size: 20px;
                    line-height: 24px;
                    height: 40px;
                }

                .desc {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 16.8px;
                    max-width: 242px;
                }
            }
        }

        @media screen and (max-width: 992px) {
            flex-wrap: wrap;

            .item {
                flex: 1 1 24%;
            }
        }

        @media screen and (max-width: 768px) {
            .item {
                .image {
                    max-width: 120px;
                    max-height: 120px;
                }

                .title {
                    font-family: 'Roboto', sans-serif;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 18.2px;
                }

                .desc {
                    display: none;
                }
            }
        }

        @media screen and (max-width: 495px) {
            .item {
                flex: 1 1 35%;
            }
        }
    }
}
