@import 'fonts.css';
@import 'colors.css';

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

body,
html,
#root {
    height: 100%;
}

body {
    font-family: 'MADE Evolve Sans', sans-serif;
    font-size: 16px;
    line-height: 1;

    background-color: var(--background-tonal);
    color: var(--text-primary);

    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;

    overflow-x: hidden;
}

input,
button {
    font-family: inherit;
    outline: none;
    background-color: unset;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
}

ol,
ul {
    list-style: none;
}

:focus,
:active {
    outline: none;
}

a {
    color: inherit;
    text-decoration: none;
    transition: color 300ms ease-out;
}

a:hover {
    color: var(--text-accent-blue);
}

input[type='search']::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
}

input[type='search'] {
    -ms-clear: none;
    -webkit-clear: none;
    clear: none;
}

.container-wide {
    max-width: 1840px;
    margin: 0 auto;
}

.container {
    max-width: 1528px;
    margin: 0 auto;
}

.section-title,
.section-title-primary {
    font-size: 48px;
    margin-bottom: 40px;
    line-height: 57.6px;
}

.section-title {
    color: var(--text-ultramarin);
}

.section-title-primary {
    color: var(--text-primary);
}

.section-title-primary span {
    color: var(--text-accent-blue);
}

.sections {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

@media screen and (max-width: 992px) {
    .section-title,
    .section-title-primary {
        font-size: 40px;
        line-height: 48px;
    }

    .sections {
        gap: 80px;
    }
}

@media screen and (max-width: 768px) {
    .section-title {
        text-align: center;
    }

    .section-title-primary {
        font-size: 32px;
        line-height: 38.4px;
        margin-bottom: 24px;
    }
}

.main-banner .swiper-container {
    width: 100%;
    height: 100%;
}

.main-banner .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0 !important;
    transition: opacity 1s ease-in-out;
}

.main-banner .swiper-slide-active {
    opacity: 1 !important;
}
