.banner {
    .slide {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 32px;

        width: 100%;
        max-width: 1528px;

        .slideContent {
            width: 592px;
            height: 500px;

            h2 {
                font-size: 40px;
                line-height: 48px;
                margin-bottom: 40px;
            }

            ul {
                display: flex;
                flex-direction: column;
                gap: 16px;
                margin-bottom: 40px;

                li {
                    line-height: 20.8px;

                    display: flex;
                    align-items: center;
                    gap: 8px;

                    &::before {
                        content: '';
                        display: block;
                        width: 4px;
                        height: 4px;
                        border-radius: 4px;
                        background-color: var(--text-accent-blue);
                    }
                }
            }

            .button {
            }
        }

        .imageWrap {
            width: 100%;
            max-width: 904px;

            img {
                width: 100%;
            }
        }

        @media screen and (max-width: 1024px) {
            .slideContent {
                width: 292px;
                height: 440px;

                h2 {
                    font-size: 32px;
                    line-height: 38.4px;
                    margin-bottom: 20px;

                    span {
                        color: var(--text-accent-blue);
                    }
                }

                ul {
                    li {
                        font-size: 14px;
                        line-height: 18.2px;
                    }
                }
            }

            .imageWrap {
                display: flex;
                align-items: center;
                justify-content: center;

                max-width: 580px;
                height: 580px;
            }
        }

        @media screen and (max-width: 768px) {
            flex-direction: column;

            h2 {
                text-align: center;
            }

            .slideContent {
                width: 100%;
                height: unset;

                ul {
                    li {
                        font-size: 12px;
                        line-height: 15.6px;
                    }
                }
            }

            .imageWrap {
                order: -1;
                height: unset;
                max-width: 328px;
            }

            .button {
                width: 100%;
            }
        }
    }

    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        border-radius: 0 0 40px 40px;

        @media screen and (max-width: 768px) {
            height: 360px;
        }
    }
}
