.layout {
    min-height: 100%;

    main {
        padding: 0 40px;

        @media screen and (max-width: 992px) {
            padding: 0 32px;
        }

        @media screen and (max-width: 768px) {
            padding: 0 16px;
        }
    }
}
