.card-slider {
    max-width: 1528px;
    margin: 0 auto;
    width: 100%;

    .swiper-button {
        opacity: 1;

        &.prev {
            left: 26%;
        }

        &.next {
            right: 26%;
        }
    }

    .swiper-slide {
        .image {
            opacity: 0;
        }
    }

    .swiper-slide-active {
        .image {
            opacity: 1;
        }
    }

    .swiper-slide-next,
    .swiper-slide-prev {
        .image {
            opacity: 0.2;
            transform: scale(0.85);
        }
    }

    .image {
        max-width: 900px;
        max-height: 506px;
        transition:
            opacity 300ms ease-out,
            transform 300ms ease-out;

        img {
            width: 100%;
            height: 100%;
            border-radius: 40px;
        }
    }

    @media screen and (max-width: 767px) {
        padding: 16px;

        .image {
            img {
                border-radius: 20px;
            }
        }

        .swiper-button {
            opacity: 1;

            &.prev {
                left: 20px;
            }

            &.next {
                right: 20px;
            }
        }
    }
}
