.productCard {
    display: flex;
    flex-direction: column;
    gap: 20px;
    cursor: pointer;

    background-color: var(--background-tonal);
    border-radius: 20px;
    outline: 1px solid rgba(123, 135, 194, 0.2);
    outline-offset: -1px;
    padding: 20px;
    transition:
        background-color 300ms ease-out,
        outline-color 300ms ease-out;

    .image {
        position: relative;

        img {
            width: 100%;
        }

        .pagination {
            position: absolute;
            bottom: 20px;
            width: 100%;

            display: flex;
            justify-content: center;
            gap: 8px;

            .bullet {
                width: 20px;
                height: 2px;
                border-radius: 2px;
                background-color: rgba(233, 233, 243, 1);

                &.active {
                    background-color: rgba(73, 70, 255, 1);
                }
            }
        }

        .slides {
            position: absolute;
            inset: 0;

            display: flex;

            .slide {
                flex: 1;
            }
        }
    }

    .tags {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    .price {
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        color: initial;
    }

    .name {
        font-weight: 500;
        font-size: 16px;
        line-height: 19.2px;
        max-width: 252px;
        color: initial;

        @media screen and (max-width: 992px) {
            max-width: 242px;
        }
    }

    .specifications {
        display: flex;
        flex-direction: column;
        gap: 4px;

        font-size: 14px;
        line-height: 18.2px;
        color: rgba(90, 101, 156, 1);
    }

    .buttons {
        display: flex;
        align-items: center;
        gap: 8px;

        .button {
            height: 48px;
            flex: 1;
        }

        .iconButton {
            border-radius: 16px;
            color: rgba(44, 43, 124, 1);

            &.isFavorite {
                background-color: var(--background-secondary);

                svg {
                    color: var(--text-accent-blue);
                    fill: var(--text-accent-blue);
                }
            }

            @media (hover: hover) {
                &:hover {
                    color: var(--text-accent-blue);
                }
            }
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: var(--background-primary);
            outline-color: transparent;

            .iconButton {
                background-color: var(--background-white);
            }
        }
    }

    .iconButton {
        @media (hover: hover) {
            &:hover {
                background-color: var(--background-secondary);
            }
        }
    }

    @media screen and (max-width: 768px) {
        gap: 12px;
        background-color: var(--background-primary);
        border-radius: 16px;
        outline: unset;
        padding: 8px;

        .image {
            img {
                width: 100%;
            }

            .pagination {
                display: none;
            }

            .slides {
                display: none;
            }
        }

        .name {
            font-family: 'Roboto', sans-serif;
            font-size: 14px;
            line-height: 16.8px;
        }

        .specifications {
            font-family: 'Roboto', sans-serif;
            font-size: 10px;
            line-height: 12px;
            text-transform: uppercase;
        }

        .buttons {
            flex-wrap: wrap;

            .button {
                flex: 1 1 100%;
                order: 1;
                margin-top: 4px;
                height: 32px;
            }

            .iconButton {
                border-radius: 8px;
                flex: 1 1 25%;
                height: 32px;
            }
        }
    }
}
