.horizontalMenu {
    padding: 0 8px;
    height: 34px;

    .horizontalMenuList {
        display: flex;
        flex-wrap: wrap;
        gap: 8px;

        @media screen and (max-width: 992px) {
            height: 32px;
        }

        .horizontalMenuItem {
            position: relative;
            padding: 6.5px 12px;
            background-color: rgba(255, 255, 255, 0.5);
            border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 8px;
            user-select: none;

            @media screen and (max-width: 1255px) {
                &:nth-child(6) {
                    display: none;
                }
            }

            @media screen and (max-width: 1100px) {
                &:nth-child(5) {
                    display: none;
                }
            }

            @media screen and (max-width: 865px) {
                &:nth-child(4) {
                    display: none;
                }
            }

            .horizontalMenuLink {
                font-weight: 500;
                font-size: 16px;
                line-height: 19.2px;
                color: rgba(44, 44, 83, 1);
                white-space: nowrap;
                transition: color 300ms ease-out;

                @media (hover: hover) {
                    &:hover {
                        color: rgba(73, 70, 255, 1);
                    }
                }
            }
        }

        .horizontalMenuDropdownItem {
            position: relative;

            .dropdown {
                position: absolute;
                z-index: 2;
                top: 0;
                left: 0;
                overflow: hidden;
                transition: background-color 300ms ease-out;

                &.isOpen {
                    background-color: white;
                }

                .dropdownList {
                    ul {
                        padding: 16px 0 6.5px 0;
                        overflow: hidden;
                    }

                    li {
                        a {
                            font-size: 14px;
                            line-height: 19.2px;
                            color: rgba(44, 44, 83, 1);
                            display: block;
                            transition: color 300ms ease-out;

                            @media (hover: hover) {
                                &:hover {
                                    color: rgba(73, 70, 255, 1);
                                }
                            }
                        }
                    }
                }
            }

            .hidden {
                visibility: hidden;
            }

            @media screen and (max-width: 855px) {
                &:last-child {
                    display: none;
                }
            }
        }
    }
}
